{
  "ecmaFeatures": {
    "blockBindings": true,
    "classes": true,
    "templateStrings": true,
    "arrowFunctions": true
  },
  "rules": {
    "brace-style": [1, "1tbs"],
    "camelcase": 0,
    "no-alert": 1,
    "no-bitwise": 1,
    "no-empty": 1,
    "no-ex-assign": 1,
    "no-lonely-if": 1,
    "no-loop-func": 1,
    "quotes": [1, "single", "avoid-escape"],
    "space-after-keywords": 1,
    "space-before-blocks": 1,
    "space-infix-ops": 1,
    "strict": 0
  }
}
